@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DateRangePicker Test App</h1>
    <p class="lead">An app for testing the <a href="http://www.daterangepicker.com">DateRangePicker from Awio Web Services LLC</a>.</p>
</div> 

<div class="row">
    <div class="col-sm-12">
        <p>This application provides an example for encapsulating the behavior of the DateRangePicker into reusable pieces of code. For more information, see the project README.md file on GitHub.</p>
    </div>
</div>